:root {
  --color: #509e0e;
}
html {
  background: white;
}
body {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0px;
}
h1, h2 {
  color: var(--color);
}
h1 {
  text-align: center;
}
#leftmenu {
  background: #dff1d6;
  height: calc(100vh - 16px);
  margin: 8px;
}
#leftmenu h2 {
  color: #ffffe0;
  background: var(--color);
  text-align: center;
  margin-top: 0px;
}
#leftmenu a {
  display: block;
  font-size: 120%;
  padding: 0 0.5em;
  text-decoration: none;
}
#infoarea {
  height: 100vh;
  overflow-y: auto;
  padding: 0em 0.8em;
}
